.karmir {
 display: flex;   
 gap: 30px;
 flex-wrap: wrap;
 padding-top: 50px;
 justify-content: center;
 
}



.sev {
 display: flex;   
 gap: 30px;
 flex-wrap: wrap;
 padding-top: 50px;
 justify-content: center;
 
}
.container {
    border: solid;
    border-radius: 30px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: antiquewhite;
    
}
.sevo {
    display: flex;   
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-top: 50px;
    justify-content: center;
    
}
img {
    cursor: pointer;
    width: 100px;
    height: 120px;
}
#click {
    display: flex;
    justify-content: center;
}
button {
    background-color: aqua;
    width: 200px;
    height: 60px;
    font-size: 25px;
    color: blue;
    border-radius: 15px;
    cursor: pointer;

}
button:hover {
    background-color: rgb(220, 64, 64);
    color: white;
}